<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.surfstudio.android.template.f_debug">

    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <application>

        <activity
            android:name="ru.surfstudio.standard.f_debug.debug.DebugActivityView"
            android:launchMode="singleTask" />

        <activity android:name="ru.surfstudio.standard.f_debug.server_settings.ServerSettingsDebugActivityView" />

        <activity
            android:name="ru.surfstudio.standard.f_debug.server_settings.reboot.RebootDebugActivityView"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.DebugTransparent" />

        <activity android:name="ru.surfstudio.standard.f_debug.fcm.FcmDebugActivityView" />

        <activity android:name="ru.surfstudio.standard.f_debug.reused_components.ReusedComponentsDebugActivityView" />

        <activity android:name="ru.surfstudio.standard.f_debug.memory.MemoryDebugActivityView" />

        <activity android:name="ru.surfstudio.standard.f_debug.info.AppInfoDebugActivityView" />

        <activity android:name="ru.surfstudio.standard.f_debug.ui_tools.UiToolsDebugActivityView" />

        <activity android:name="ru.surfstudio.standard.f_debug.tools.ToolsDebugActivityView" />

        <provider
            android:name="com.krishna.debug_tools.utils.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            tools:replace="android:authorities" />
    </application>

</manifest>