<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.surfstudio.android.template.f_debug">

    <application>

        <activity
            android:name="ru.surfstudio.standard.f_debug.debug.DebugActivityView"
            android:launchMode="singleTask" />

        <activity
            android:name="ru.surfstudio.standard.f_debug.server_settings.ServerSettingsDebugActivityView" />

        <activity
            android:name="ru.surfstudio.standard.f_debug.server_settings.reboot.RebootActivityDebugView"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent" />

        <activity android:name="ru.surfstudio.standard.f_debug.fcm.FcmDebugActivityView" />

        <activity android:name="ru.surfstudio.standard.f_debug.common_controllers.CommonControllersDebugActivityView" />

        <activity android:name="ru.surfstudio.standard.f_debug.memory.MemoryDebugActivityView" />

        <activity
            android:name="com.krishna.debug_tools.activity.ActivityDebugTools">
            <intent-filter>
                <action android:name="@string/impl_intent_debug_storage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>