<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.surfstudio.android.notification">

    <application>
        <receiver
            android:name=".ui.notification.NotificationClickEventReceiver"
            android:exported="false" />
    </application>
</manifest>